<div class="video_real">

<div data-section="video-embedded-inline" {{ attributes }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h3{{ title_attributes }}>
      <strong data-href="{{ url }}">{{ label }}</strong>
    </h3>
  {% endif %}
  {{ title_suffix }}
    <div{{ content_attributes }} data-container="flex">
        {{ content.field_featured_image.0.entity.uri.value }}
    
        <video controls class="video_timeline" poster="">
          <source src="{{ content.field_video_source.0}}" />
        </video>
        
        <!--<div class="video_timeline">
            <iframe class="iframeVideo" src="{{ content.field_video_source.0}}" frameborder="0"  allowfullscreen>
            </iframe>
        </div>
        -->
        

        
        <div>
            {{ content.body}}
        </div>
      
  
   
  </div>

</div>

</div>