<div class="video_real">
<div data-section="video-embedded-inline" {{ attributes }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h3{{ title_attributes }}>
      <strong data-href="{{ url }}">{{ label }}</strong>
    </h3>
  {% endif %}
  {{ title_suffix }}
    <div{{ content_attributes }} data-container="flex">
        <video controls class="video_timeline">
        <source src="{{ content.field_video_source.0}}" />
        </video>
        <div>
            {{ content.body}}
        </div>
      
  
   
  </div>

</div>

</div>