
<div class="views homepage-categories swiper multi">
<div class="swiper-wrapper">
{% for key,value in data %}
<div class="role-type swiper-slide">

  
  <div class="content-wrap">
  
    
    <div class="views-content">
    <h2>{{key}}</h2>
    {% for entry in value.entities %}


    


      

      {% if entry.field_video_source %}
        <div class="views-row video-timeline">
          <span class="badge bg-info">{{entry.title}}</span><br />
          <video controls class="homepage-videos">
            <source src="{{entry.field_video_source}}" />
          </video>
          <br />
          {{entry.body | raw}}
        </div>
      {% else %}
        <div class="views-row regular">
          
            <a href="{{entry.url}}" class="text-link">{{entry.title}}</a>
          
        </div>
      {% endif %}
      
      
   
   

    {% endfor%}
    </div>

  </div>
  </div>
{% endfor%}
</div>
<div class="swiper-pagination"></div>
        
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
</div>